################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Messanger.Application/obj/Debug/net8.0/Messanger.Application.AssemblyInfo.cs
/Messanger.Application/obj/Debug/net8.0/Messanger.Application.AssemblyInfoInputs.cache
/Messanger.Application/obj/Debug/net8.0/Messanger.Application.assets.cache
/Messanger.Application/obj/Debug/net8.0/Messanger.Application.csproj.AssemblyReference.cache
/Messanger.Application/obj/Debug/net8.0/Messanger.Application.GeneratedMSBuildEditorConfig.editorconfig
/Messanger.Application/obj/Messanger.Application.csproj.nuget.dgspec.json
/Messanger.Application/obj/project.assets.json
/Messanger.Application/obj/project.nuget.cache
/Messanger.Backend/.vs/Messanger.Backend/FileContentIndex/03f19852-7040-4fe8-bc9d-2d4838c9f060.vsidx
/Messanger.Backend/.vs/Messanger.Backend/FileContentIndex/2d70c3a2-da50-4c84-9401-f2d0c0bb9540.vsidx
/Messanger.Backend/.vs/Messanger.Backend/FileContentIndex/30bd6459-5f64-461e-b5da-00abf4790c79.vsidx
/Messanger.Backend/.vs/Messanger.Backend/FileContentIndex/55629cf5-480e-447a-a972-464ce0b97978.vsidx
/Messanger.Backend/.vs/Messanger.Backend/FileContentIndex/61fe4a9a-3c85-452e-9b87-c0378ba5e30a.vsidx
/Messanger.Backend/.vs/Messanger.Backend/FileContentIndex/7cce34b0-06bb-479e-ac1a-3bcd23155026.vsidx
/Messanger.Backend/.vs/Messanger.Backend/FileContentIndex/93fd0eae-2017-415d-9c5e-65c1b2f8370e.vsidx
/Messanger.Backend/.vs/Messanger.Backend/FileContentIndex/b6979376-9b82-4eed-ab4a-1c4808d9842a.vsidx
/Messanger.Backend/.vs/Messanger.Backend/FileContentIndex/c99bbf67-6183-47b4-8547-60b767392a2c.vsidx
/Messanger.Backend/.vs/Messanger.Backend/FileContentIndex/deb47541-4bc1-4c37-95b5-fdb6c11c923b.vsidx
/Messanger.Backend/.vs/Messanger.Backend/v17/.suo
/Messanger.Backend/Messanger.Backend.sln
/Messanger.Backend/obj/Debug/net8.0/Messanger.WebAPI.AssemblyInfo.cs
/Messanger.Backend/obj/Debug/net8.0/Messanger.WebAPI.AssemblyInfoInputs.cache
/Messanger.Backend/obj/Debug/net8.0/Messanger.WebAPI.assets.cache
/Messanger.Backend/obj/Debug/net8.0/Messanger.WebAPI.csproj.AssemblyReference.cache
/Messanger.Backend/obj/Debug/net8.0/Messanger.WebAPI.GeneratedMSBuildEditorConfig.editorconfig
/Messanger.Backend/obj/Messanger.WebAPI.csproj.nuget.dgspec.json
/Messanger.Backend/obj/Messanger.WebAPI.csproj.nuget.g.props
/Messanger.Backend/obj/Messanger.WebAPI.csproj.nuget.g.targets
/Messanger.Backend/obj/project.assets.json
/Messanger.Backend/obj/project.nuget.cache
/Messanger.Domain/obj/Debug/net8.0/Messanger.Domain.AssemblyInfo.cs
/Messanger.Domain/obj/Debug/net8.0/Messanger.Domain.AssemblyInfoInputs.cache
/Messanger.Domain/obj/Debug/net8.0/Messanger.Domain.assets.cache
/Messanger.Domain/obj/Debug/net8.0/Messanger.Domain.GeneratedMSBuildEditorConfig.editorconfig
/Messanger.Domain/obj/Messanger.Domain.csproj.nuget.dgspec.json
/Messanger.Domain/obj/project.assets.json
/Messanger.Domain/obj/project.nuget.cache
/Messanger.ExternalServices/obj/Debug/net8.0/Messanger.ExternalServices.AssemblyInfo.cs
/Messanger.ExternalServices/obj/Debug/net8.0/Messanger.ExternalServices.AssemblyInfoInputs.cache
/Messanger.ExternalServices/obj/Debug/net8.0/Messanger.ExternalServices.assets.cache
/Messanger.ExternalServices/obj/Debug/net8.0/Messanger.ExternalServices.GeneratedMSBuildEditorConfig.editorconfig
/Messanger.ExternalServices/obj/Messanger.ExternalServices.csproj.nuget.dgspec.json
/Messanger.ExternalServices/obj/project.assets.json
/Messanger.ExternalServices/obj/project.nuget.cache
/Messanger.Persistence/obj/Debug/net8.0/Messanger.Persistence.AssemblyInfo.cs
/Messanger.Persistence/obj/Debug/net8.0/Messanger.Persistence.AssemblyInfoInputs.cache
/Messanger.Persistence/obj/Debug/net8.0/Messanger.Persistence.assets.cache
/Messanger.Persistence/obj/Debug/net8.0/Messanger.Persistence.csproj.AssemblyReference.cache
/Messanger.Persistence/obj/Debug/net8.0/Messanger.Persistence.GeneratedMSBuildEditorConfig.editorconfig
/Messanger.Persistence/obj/Messanger.Persistence.csproj.nuget.dgspec.json
/Messanger.Persistence/obj/project.assets.json
/Messanger.Persistence/obj/project.nuget.cache
